.professor-cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  &__list-item {
    list-style: none;
  }
  &__image {
    display: block;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  &__name {
    display: flex;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    left: 0;
    right: 0;
    padding: 3px 10px;
    background-color: $darkOrange;
  }
}
